In [1]:
import pandas as pd

In [3]:
df = pd.read_csv ('./BTC-USD.csv', encoding='unicode_escape')

In [6]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,2.622940e+07
1,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,2.177770e+07
2,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,3.090120e+07
3,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,4.723650e+07
4,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,8.330810e+07
...,...,...,...,...,...,...,...
2964,2022-11-12,17036.875000,17066.675781,16651.775391,16799.185547,16799.185547,2.971770e+10
2965,2022-11-13,16799.722656,16920.765625,16320.634766,16353.365234,16353.365234,2.720918e+10
2966,2022-11-14,16352.028320,17109.324219,15872.941406,16618.199219,16618.199219,4.963024e+10
2967,2022-11-15,NaN,NaN,NaN,NaN,NaN,NaN
2968,2022-11-16,16900.273438,16900.273438,16819.796875,16820.722656,16820.722656,3.618881e+10

In [5]:
df.isna().sum()

Date         0
Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

In [14]:
ls

 Volume in drive C is Local Disk
 Volume Serial Number is 343F-6AF2

 Directory of c:\Users\carlo\Ironhack\Final Project

16/11/2022  02:03    <DIR>          .
15/11/2022  15:08    <DIR>          ..
15/11/2022  22:34                83 .env
15/11/2022  22:34                 4 .gitignore
16/11/2022  02:03            17,998 btc.ipynb
16/11/2022  01:38           243,858 BTC-USD.csv
16/11/2022  02:03            43,048 DATA MANU.csv
15/11/2022  14:08            49,876 DATA MANU.xlsx
16/11/2022  02:03            43,048 data_cpi.csv
15/11/2022  14:09            68,096 excel FED.xls
16/11/2022  01:01            16,452 main.ipynb
16/11/2022  01:51         4,923,392 market_data.sqlite
16/11/2022  01:52            11,854 stock.ipynb
              11 File(s)      5,417,709 bytes
               2 Dir(s)  119,489,433,600 bytes free

In [15]:
df1 = pd.read_csv('./data_cpi.csv', encoding='unicode_escape')

In [16]:
df1

,Unnamed: 0,CPIAUCSL,FEDFUNDS,Effective Rate MoM Change,CPI YoY % Change
0,1954-08-31 00:00:00,26.850,0.0122,0.0042,0.000000
1,1954-09-30 00:00:00,26.810,0.0107,-0.0015,-0.002975
2,1954-10-31 00:00:00,26.720,0.0085,-0.0022,-0.008534
3,1954-11-30 00:00:00,26.780,0.0083,-0.0002,-0.002607
4,1954-12-31 00:00:00,26.770,0.0128,0.0045,-0.003722
...,...,...,...,...,...
813,2022-05-31 00:00:00,291.474,0.0077,0.0044,0.085164
814,2022-06-30 00:00:00,295.328,0.0121,0.0044,0.089952
815,2022-07-31 00:00:00,295.271,0.0168,0.0047,0.084821
816,2022-08-31 00:00:00,295.620,0.0233,0.0065,0.082492
817,2022-09-30 00:00:00,296.761,0.0256,0.0023,0.082224

In [18]:
df2= pd.read_csv('./excel_fed.csv', encoding='unicode_escape')

In [19]:
df2

                   FRED Graph Observations Unnamed: 1
0            Federal Reserve Economic Data        NaN
1        Link: https://fred.stlouisfed.org        NaN
2    Help: https://fredhelp.stlouisfed.org        NaN
3               Economic Research Division        NaN
4        Federal Reserve Bank of St. Louis        NaN
..                                     ...        ...
962                             2022-10-05    8759053
963                             2022-10-12    8758969
964                             2022-10-19    8743922
965                             2022-10-26    8723090
966                             2022-11-02    8676870

[967 rows x 2 columns]